<html>
<head>
  <meta charset="utf-8">
  <title>POC - ASW</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- angular material -->
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  
  



</head>

<style type="text/css">
  
</style>




<body ng-app="poc" ng-controller="LivrosController" layout="column" style="height:500px;" ng-cloak>

  <!--
    Your HTML content here
  -->  

    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
          <ng-md-icon icon="menu" style="fill: lightgrey;"></ng-md-icon>
        </md-button>
        <h2>
          <span>Livraria</span>
        </h2>
        <span flex></span>

        <md-button class="md-icon-button" aria-label="Favorite">
          <ng-md-icon icon="search" style="fill: lightgrey;"></ng-md-icon>
        </md-button>

      </div>
    </md-toolbar>
    

<section layout="row" flex>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      <md-content layout-padding>

        <md-menu>
          <md-menu-content width="4">
            <md-menu-item>

              <md-button ui-sref="newLivro">                
                Cadastrar Livro
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ng-click="ctrl.checkVoicemail()">
                Buscar livros
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ui-sref="livros">
                Lista livros
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>


      </md-content>

    </md-sidenav>


    <md-content flex layout-padding >
        <div ui-view></div>
    </md-content>

</section>
  <!-- Angular Material requires Angular.js Libraries -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>

    <script src="/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
  
    <script src="/javascripts/main.js"></script>



</body>

</html>