

	<md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Nome</label>
      <input ng-model="livro.nome" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>ISBN</label>
      <input ng-model="livro.isbn" type="text">
    </md-input-container>


    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Editora</label>
      <input ng-model="livro.editora" type="text">
    </md-input-container>


    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Ano</label>
      <input ng-model="livro.ano" type="text">
    </md-input-container>

    <md-chips ng-model="livro._autores" placeholder="Autores"
    	md-transform-chip="newAutor($chip)">
    	<md-chip-template>
    		<span>
    			<strong>{{$chip.nome}}</strong>
    		</span>
    	</md-chip-template>

    </md-chips>



    <md-button type="submit" class="md-raised md-primary">Salvar</md-button>
  	<md-button  class="md-raised" ui-sref="livros">Voltar</md-button>


