<md-list flex>
  <md-subheader class="md-no-sticky">Relação de livros</md-subheader>

  <md-list-item class="md-3-line" ng-repeat="livro in livros" ui-sref="editLivro({id:livro._id})">
    
    <div class="md-list-item-text" layout="column" >
      <h3>{{ livro.nome }}</h3>
      <h4>{{ livro.editora }} - {{ livro.ano }}</h4>
      <p>{{ livro.isbn }}</p>
    </div>
  </md-list-item>
</md-list>