<form role="form" ng-submit="updateLivro()">
  <div ng-include="'partials/_form.html'"></div>

<div layout="row" layout-align="end end">
	<md-button class="md-fab" aria-label="Comment" ng-click="showPrompt()">
	    <ng-md-icon icon="comment"></ng-md-icon>
	</md-button>
</div>

</form>

<md-list flex>
  <md-subheader class="md-no-sticky">Críticas</md-subheader>

  <md-list-item class="md-3-line" ng-repeat="critica in livro.criticas">
    
    <div class="md-list-item-text" layout="column" >
      <p>{{ critica.critica }}</p>
      {{critica.data }}
    </div>
  </md-list-item>
</md-list>