<table class="table livrotable">
  <tr>
    <td><h3>Details for {{livro.nome}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Livro Title</td>
    <td>{{livro.nome}}</td>
  </tr>
  <tr>
    <td>Director</td>
    <td>{{livro._autor}}</td>
  </tr>
  <tr>
    <td>Release Year</td>
    <td>{{livro.ano}}</td>
  </tr>
  <tr>
    <td>Livro Genre</td>
    <td>{{livro.editora}}</td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" ui-sref="editLivro({id:livro._id})">Edit</a>
</div>